# Yarn
node_modules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Hardhat
artifacts
cache

# Typescript
dist
tsconfig.tsbuildinfo

# Misc
.env
.DS_Store
.idea
.secrets
.wallet.json

# Coverage
coverage
coverage.json
lcov.info

# Slither
scripts/slither-results/*
!scripts/slither-results/.gitkeep

abi

crytic-export

out
cache_forge
broadcast/*/31337

dependencies/

# Ignoring remappings because we are adding them in foundry.toml
# currently forge soldeer always re-generates them, should be fixed in next version
remappings.txt