[submodule "v2/lib/openzeppelin-foundry-upgrades"]
	path = v2/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "v2/lib/forge-std"]
	path = v2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "v2/lib/openzeppelin-contracts-upgradeable"]
	path = v2/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
