[profile.default]
src = "contracts"
out = "out"
libs = ["lib", "dependencies"]

remappings = [
  "ds-test/=node_modules/ds-test/src",
  "test/=test",
  "forge-std/=dependencies/forge-std-1.9.2/src/",
  "openzeppelin-foundry-upgrades/=dependencies/openzeppelin-foundry-upgrades-0.3.2/src/",
  "solidity-stringutils/=dependencies/openzeppelin-foundry-upgrades-0.3.2/lib/solidity-stringutils/",
  "@openzeppelin/contracts/=node_modules/@openzeppelin/contracts/",
  "@openzeppelin/contracts-upgradeable/=node_modules/@openzeppelin/contracts-upgradeable/"
]

no-match-contract = '.*EchidnaTest$'
optimizer = true
optimizer_runs = 10_000

fs_permissions = [{ access = "read", path = "out"}]

ffi = true
ast = true
build_info = true
extra_output = ["storageLayout"]
evm_version = "london"

[fmt]
bracket_spacing = true
int_types = "long"
line_length = 120
multiline_func_header = "all"
number_underscore = "thousands"
quote_style = "double"
tab_width = 4
wrap_comments = true
sort_imports=true

[dependencies]
forge-std = "1.9.2"
openzeppelin-foundry-upgrades = "0.3.2"
