on:
  release:
    types: [published]

jobs:
  github-releases-to-discord:
    if: "! contains(github.event.release.tag_name, '-')"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Github Releases To Discord
        uses: SethCohen/github-releases-to-discord@v1.16.2
        with:
          webhook_url: ${{ secrets.DISCORD_DEVZONE_RELEASE_ANNOUNCEMENTS_WEBHOOK_URL }}
          color: "2105893"
          username: "New Release: Protocol Contracts"
          max_description: "4096"
          reduce_headings: true
          avatar_url: "https://raw.githubusercontent.com/zeta-chain/docs/refs/heads/main/public/img/icons/zetachain/square/white-on-green.png"
